
body {
		
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
	text-align:center;
	background-color:#76BED0;
}


button {
	margin-top: 20px;
	background-color:#47A0D4;
	border-radius:5px;
	padding: 5px;
}

button:hover {
	margin-top: 20px;
	background-color: #372BA1;
	border-radius: 5px;
	padding: 5px;s
	cursor: pointer;
}

table{
	margin:auto;
}

img {
	border: 5px solid black;
	padding: 5px;
	width: 100px;
	height: 70px;
	cursor: pointer;
    }

#player {
    display: block;
    width: 640px;
    height: 360px;
    margin: 0 auto;
    cursor: pointer;
  }
  #player *:focus {
    outline-style: none;
  }

.container{
	width: 60%;
	margin: auto;
	background-color:#fff;
	box-shadow: 1px 1px 12px #555;
}


